html{
    scroll-behavior: smooth;
}
*{
    font-family: montserrat;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    /* font-weight: 700; */
    letter-spacing: 2px;
    
 }.navbar-light .navbar-brand{
    color: #743333;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
a:hover{
      font-size: large;
    }

.card{
    border-radius: 10em 10em;
}
.card img{
    border-radius: 10em 10em;

}.contact{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
#last{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    padding: 100px 50px;
    
}
#last p{
    margin-top: 15px;
    line-height: 30px;
}
#last a{
    color: rgba(255,255,255,0.4);
    text-decoration: none;
    transition: 400ms;
}
#last a:hover{
    color: rgb(250, 125, 125);

}
#last button{
    margin-top: 21px;
    padding: 12px 55px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(250, 125, 125);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid #fff;
    transition: 500ms;
}#last input{
    padding: 12px 17px;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #fff;
    font-size: 16px;
}#about{
    background-color: rgb(213, 192, 166);
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    color: #464040;
    padding: 50px 0px;
    
}




    

